
$color1: #333;

html {
  padding: 0;
  margin: 0;
  color: $color1;
}

a {
  color: $color1;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

main {
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  transition: all 0.5s;

  #headline {
  }

  #video{
    display: flex;
    justify-content: center;
  }

  #form {

  }
}

