
$color1: #333;
$container-size1: 700px;

html {
  padding: 0;
  margin: 0;
  color: $color1;
}

a {
  color: $color1;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

main {
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  transition: all 0.5s;

  #headline {
  }

  #video{
    display: flex;
    justify-content: center;
    iframe{
      width: $container-size1;
      overflow: hidden;
    }
  }

  #form {
    max-width: $container-size1;
  }
}

